body {
  height: 100vh;
  margin: 0;
}
.container {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
}
.card {
  height: 720px;
  width: 216px;
  transition: width 0.5s ease-in;
  position: relative;
}
.card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 12px;
  cursor: pointer;
}
.active {
  width: 512px;
}
p {
  position: absolute;
  top: 92%;
  padding: 0 0 10px 10px;
  color: white;
  font-family: "Courier New", Courier, monospace;
  opacity: 0;
  transition: opacity 0.2s ease-in-out 0.6s;
}
.active p {
  opacity: 1;
}

@media (max-width: 480px) {
  .card:nth-of-type(4) {
    display: none;
  }
  .active {
    width: 712px;
  }
}
