html,
body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: sans-serif;
}
.counter {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
  z-index: 99;
}
.counter h1 {
  background-color: rgba(0, 0, 0, 0.397);
  border-radius: 50%;
  height: 100px;
  width: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.background {
  height: 100vh;
  width: 100vw;
  background-image: url("https://plus.unsplash.com/premium_photo-1686054306703-fe68a1b0a7aa?q=80&w=726&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -1;
  position: absolute;
  filter: blur(100px);
}
