body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  background-color: #cfcecf;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
}

.box {
  border: 2px solid rgba(0, 0, 0, 0.514);
  position: relative;
  background-color: white;
  width: 200px;
  height: 40px;
  padding: 0.8rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box h1 {
  font-weight: 400;
  opacity: 0.7;
}
.box small {
  position: absolute;
  left: 50%;
  top: -20%;
  transform: translate(-50%, -50%);
}
