body {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3f74a4;
  color: white;
}
.container {
  text-align: center;
  background-color: #2d4b69;
  padding:3rem 8rem 5rem 8rem;
  border-radius: 25px;
}
h2 {
  font-size: 2rem;

}
.user-email,
.user-password {
  margin-top: 1.5rem;
}
.user-email,
.user-password {
  position: relative;
}
.user-email label,
.user-password label {
  position: absolute;
  left: 1%;
  top: 50%;
}
.user-email label span,
.user-password label span {
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  transition: 0.3s cubic-bezier(0.68, 0.55, 0.265, 1.55);
}
input {
  padding: 0.7rem 0.2rem;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid lightblue;
  font-size: 15px;
  width: 100%;
  color: white;
}
input:focus {
  outline: none;
}
input:focus + label span {
  color: lightblue;
  transform: translateY(-30px);
}

button {
  margin-top: 2rem;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  font-size: 1.2rem;
  padding: 0.6rem 1.6rem;
  cursor: pointer;
  transition: all 0.2s linear;
  margin-bottom: 2rem;
}
button:hover {
  background-color: rgba(255, 255, 255, 0.192);
}
small a {
  color: #3f74a4;
  text-decoration: none;
  font-size: 1rem;
  transition: color 1.2s linear;
}
small a:hover {
  color: #2d8be2;
}
