body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: #5f69cf;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  background-color: #ecebec;
  text-align: center;
  height: 30vh;
  width: 35vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  padding: 5rem;
  box-shadow: 5px 7px 10px rgba(0, 0, 0, 0.541);
}
.container p {
  opacity: 0.5;
  font-weight: 600;
}
button {
  color: #ecebec;
  background-color: #936bcf;
  border: none;
  font-size: 1.1rem;
  padding: 0.7rem 1rem;
  cursor: pointer;
  border-radius: 1rem;
  transition: all 0.3s linear;
}
button:hover {
  font-size: 1.13rem;
}
