body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}
.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  display: flex;
  justify-content: center;
  gap: 7vw;
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.5);
  position: relative;
}
.line-through {
  height: 3px;
  position: absolute;
  background-color: blue;
  left: 0;
  top: 50%;
  z-index: -1;
}

.num {
  border: 2px solid rgba(0, 0, 0, 0.397);
  border-radius: 50%;
  padding: 0.3vw 1vw;
  text-align: center;
  background-color: rgb(255, 255, 255);
}
.active {
  border: 2px solid blue;
}
.btn {
  height: 40px;
  width: 100px;
  margin-top: 3rem;
  border: none;

  background-color: rgba(0, 0, 255, 0.295);
  color: aliceblue;
  font-size: 1rem;
  border-radius: 10px;
  cursor: pointer;
  margin-right: 2rem;
}
.color-change {
  background-color: rgba(0, 0, 255, 0.815);
}
