body {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  background-color: #7061e7;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}
.container {
  height: fit-content;
  width: fit-content;
  position: relative;
}
.container input {
  height: 30px;
  width: 15px;
  border-radius: 10px;
  border: none;
  font-size: 18px;
  transition: all 0.3s linear;
}
.container input:focus {
  outline: none;
}
.container i {
  color: black;
  font-size: 30px;
  position: absolute;
  left: 10%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  background-color: white;
  align-items: center;
  padding: 5px 5px;
  border-radius: 10px;
  transition: all 0.1s ease-in-out;
}
.container i:hover {
  font-size: 31px;
}
.container.active input {
  width: 312px;
  height: 40px;
  padding-left: 12px;
}
.container.active i {
  padding: 0;
  left: 90%;
  top: 50%;

}
